{% extends "base.html" %}
{% set active = "Templates" %}
{% block page_title %}Network Slice Templates{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nst.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/nst.js') }}"></script>
{% endblock %}

{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 active">
            <i class="bi bi-diagram-3 me-2"></i>E2E NETWORK SLICES
        </div>
    </div>
    <div class="body-main">
        <div class="body-main-title">E2E Network Slice</div>
        <div class="body-main-table">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Sharing</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in use_cases %}
                    <tr data-bs-toggle="modal"
                    data-bs-target="#sec-modal{{case.id}}" data-target='#edit{{ case.id }}'>
                        <td>{{ case.id }}</td>
                        <td>{{ case.name }}</td>
                        <td>{{ case.description }}</td>
                        <td>{{ case.status }}</td>
                        <td >{{ case.is_shared }}</td>
                    </tr>
<!-- SEC Modal -->

<div class="modal fade" id="sec-modal{{case.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Sec Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h5 class="modal-title" id="exampleModalLabel{{case.id}}">NST</h5>
                        <pre id="teste{{case.id}}" class="template-config">{{ case.NST|tojson(indent=4) if case.NST else "No template data available" }}</pre>
                        <script type="application/json" id="json-data-{{case.id}}">{{ case.NST|tojson if case.NST else '{}' }}</script>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>

                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#nstModal">Add Slice Template</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="nstModal" tabindex="-1" role="dialog" aria-labelledby="nstModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="nstModalLabel">Add Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="slice-template-form">
                <div class="form-group row">
                    <label for="inputTemplateName" class="col-sm-2 p-3 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTemplateName" placeholder="Name" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTemplateDescription" class="col-sm-2 p-3 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTemplateDescription" placeholder="Description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputRanTemplate" class="col-sm-2 p-3 col-form-label">RAN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputRanTemplate" name="ran_template">
                            <option>Default RAN Template</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTnTemplateNst" class="col-sm-2 p-3 col-form-label">TN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputTnTemplateNst" name="tn_template">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputCoreTemplateNst" class="col-sm-2 p-3 col-form-label">Core Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputCoreTemplateNst" name="core_template">
                            <option>Default Core Template</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Shared?</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheckNst" name="is_shared">
                            <label class="form-check-label" for="gridCheckNst">
                                True
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>
{% endblock %}